form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

form > input {
    width:50%;
    margin:10px;
}

form > input::placeholder {
    color: black;

}